.destinations {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.destination-card {
  width: 160px;          /* smaller width */
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.destination-card img {
  width: 100%;
  height: 100px;         /* smaller height */
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.destination-card h3 {
  margin-top: 8px;
  font-size: 18px;       /* smaller text */
}

.destination-card:hover {
  transform: scale(1.05);
}
